[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openmeteo-requests = "*"
pandas = "*"
requests-cache = "*"
termcolor = "*"
pyfiglet = "*"

[dev-packages]

[requires]
python_version = "3.13"
